<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <title>vkday</title>
    </head>
    <body>
        {% if latest_onedayk_list %}
            <table border="1">
            {% for onedayk in latest_onedayk_list %}
                <tr>
                    <td>{{ onedayk.vdate| date:'Y-m-d' }}</td>
                    <td>{{onedayk.vtext }}</td>
                </tr>
            {% endfor %}
            </table>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </body>
    </html>